# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/lib/
/micro-panel-hub/node_modules
/micro-panel-hub/lib
/micro-panel-hub/dist
/micro-panel-hub/nightly-dist
/demo-use-micro-panel-hub/node_modules
/demo-use-micro-panel-hub/dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
